#Coneccion a la BD
servidorBD.name = Methontool
servidorBD.ip = 127.0.0.1
servidorBD.puerto = 5432
servidorBD.user = adminMethontool
servidorBD.pass = passMethontool 

#variable separador de String
variable.separadorString = ||||


#ruta donde se encuentra donde se encuentran los bean de BD
Spring.rutaArchivoSpringDaoImpl = Spring-Module.xml

#variables usadas en OWLAPI
OWLAPI.archivoSalida = /home/mitchell/Desktop/
OWLAPI.extensionOWL = .owl
OWLAPI.extensionRDF = .rdf
OWLAPI.iri = http://ciensUCV/methontool/plugins/owl/owl-library/

