#Coneccion a la BD
servidorBD.name = Methontool
servidorBD.ip = 127.0.0.1
servidorBD.puerto = 5432
servidorBD.user = adminMethontool
servidorBD.pass = passMethontool 

#variable separador de String
variable.separadorString = ||||


#ruta donde se encuentra donde se encuentran los bean de BD
Spring.rutaArchivoSpringDaoImpl = Spring-Module.xml

#variables usadas en OWLAPI
OWLAPI.archivoSalida = /home/mitchell/Desktop/
OWLAPI.extensionOWL = .owl
OWLAPI.extensionRDF = .rdf
OWLAPI.iri = http://ciensUCV/methontool/plugins/owl/owl-library/
OWLAPI.classDescripcion = descripcion

#Creacion de archivo
archivoSalida.MensajePrincipal = Llena bien esta vaina, deja el sabotaje. Solo edita los campos correspondientes.
archivoSalida.MensajeLlenado = Debe llenar solo los campo valores  de los atributos, tiene formato JSON. Es un arreglo [] separados por ','. Quedara ["A","B","C","D"]
archivoSalida.separador = ___________________________________________________
archivoSalida.separador2 = ******** 
archivoSalida.instancia = ___INSTANCIA
archivoSalida.concepto = ___CONCEPTO
archivoSalida.AtributoInstancia = ___ATRIBUTO INSTANCIA
archivoSalida.id = Id:
archivoSalida.Nombre = Nombre:
archivoSalida.Descripcion = Descripcion:
archivoSalida.valores = Valores: 
archivoSalida.tipoDeDato = Tipo de Dato:
archivoSalida.medida = Medida:
archivoSalida.rangoValores = Rango valores:
archivoSalida.precision = Precision:
archivoSalida.cardinalidad = Cardinalidad:
archivoSalida.nombreDelArchivo = instanciaMasivo.txt


