<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<import resource="database/Spring-Datasource.xml" />
	<import resource="beanDataBase/Spring-RolUsuario.xml" />
	<import resource="beanDataBase/Spring-Usuario.xml" />
	<import resource="beanDataBase/Spring-Proyecto.xml" />
	<import resource="beanDataBase/Spring-NivelFormalidad.xml" />
	<import resource="beanDataBase/Spring-Glosario.xml" />
	<import resource="beanDataBase/Spring-TipoGlosario.xml" />
	<import resource="beanDataBase/Spring-Taxonomia.xml" />
	<import resource="beanDataBase/Spring-Relacion.xml" />
	<import resource="beanDataBase/Spring-Instancia.xml" />
	<import resource="beanDataBase/Spring-Instanciado.xml" />
	<import resource="beanDataBase/Spring-AtributoClase.xml" />
	<import resource="beanDataBase/Spring-AtributoInstancia.xml" />
	<import resource="beanDataBase/Spring-Concepto.xml" />
	<import resource="beanDataBase/Spring-TipoDeDato.xml" />
	<import resource="beanDataBase/Spring-Medida.xml" />
	<import resource="beanDataBase/Spring-Constante.xml" />
	<import resource="beanDataBase/Spring-Axioma.xml" />
	<import resource="beanDataBase/Spring-Regla.xml" />
</beans>