
html {
	min-height: 100%;
}

body {
	/*padding-top: 40px;*/
	padding-bottom: 40px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.obligatorio{
	color:#FF0000;
}
.cabecera{
	height: 100px;
}

.cabeceraTitulo{
	 text-align: center;
	 vertical-align: center;
	 margin-top: 30px;
}

.cabeceraTitulo > a{
	text-decoration: none;
	font-size:25px;
}

.classTituloSeleccionado{
	color:#0000FF;
}

.classTituloNoSeleccionado{
	color:#00BFFF;
	/*color:#81DAF5;*/
}

.sesionCabecera{
	margin-top: 25px;
	text-align: right;
}

.not-active-link {
   pointer-events: none;
   cursor: default;
}

.navegar{
	height: 50px;
}

.navbar{
	margin-bottom: 0px;
}

.CampoTrabajo{
	/*este height quiero que sea en porcentaje de la vista para poder trabajar en diferentes maquinas*/
	height: 500px;
	background-color: orange;
}

.cuerpoUno{
	height:100%;
	background-color: #D8D8D8; /*Gris mientras encuentro color que pao*/
	border: solid #000;
 	border-top-width: 1px;
  	border-left-width: 1px;
  	border-right-width: 1px; 
  	border-bottom-width: 1px; 
   	border-color: #000000; /*Color negro*/
   	overflow-y:scroll;
}

.cuerpoDos{
	height:100%;
	background-color: #D8D8D8; /*Gris mientras encuentro color que pao*/
	border: solid #000;
 	border-top-width: 1px;
  	border-left-width: 0.5px;
  	border-right-width: 1px; 
  	border-bottom-width: 1px; 
   	border-color: #000000; /*Color negro*/
   	overflow-y:scroll;
}

.formulario {
    padding: 5px;
}

.inicioTexto{
	margin-top : 20px;	
}

/* Centrar columna */
.centered {
    text-align: center;
}
.centered > .divCentrado {
    float: none;
    display: inline-block;
    text-align: center;
}
/*Fin centrar columna */
	

/*Proyecto */
#divListarProyecto{
	width: 50px;
}

/*tamano de busqueda de concepto dentro de ventana modal*/
.buscarEnModal{
	height: 300px;
	width: 300px;
	margin-top : 10px;	
	overflow-y:scroll;
}

/*Fin proyecto*/

.separadorCuerpo2{
	border-top: 2px solid rgb(222, 222, 222);
}

.centrarTexto{
	text-align: center;
}